<md-toolbar color="primary">
  <strong>{{appName}}</strong>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span class="userInfo">
   {{userName}} {{userDeptName}} 
  </span>

  <button md-icon-button>
            <md-icon>notifications</md-icon>
  </button>

  <button md-icon-button class="hasNotify">
            <md-icon>notifications_active</md-icon>
  </button>

  <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
    </button>

</md-toolbar>

<!-- menu opens when trigger button is clicked -->
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item> 
    <md-icon> fullscreen </md-icon>
    <span> 全屏显示 </span>
  </button>
  <button md-menu-item> 
    <md-icon> delete </md-icon>
    <span> 清除缓存 </span>
  </button>
  <button md-menu-item (click)="logOut()"> 
    <md-icon> power_settings_new </md-icon>
    <span> 退出 </span>
  </button>
</md-menu>